

# base
python-dotenv
numpy
pandas

# visual
matplotlib
seaborn

# jupyter
jupyter
ipykernel

# llm providers
openai
anthropic
google-genai
together

# local llm stack
transformers
accelerate
huggingface_hub
# torch - install locally 

# udpipe
ufal.udpipe